<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_order"
        tools:targetApi="31">

        <activity
            android:name=".Information_Account"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BookingHistoryActivity"/>
        <activity android:name=".DetailMovie_Modomdom"/>
        <activity android:name=".DetailMovie_Cam"/>
        <activity android:name=".DetailMovie_DoAnhCongDuocToi"/>
        <activity android:name=".DetailMovie_MaDa"/>
        <activity android:name=".BaoMatTaiKhoan"/>
        <activity android:name=".PaymentPolicyActivity"/>
        <activity android:name=".RefundHistoryActivity"/>
        <activity android:name=".TransactionsActivity"/>
        <activity android:name=".ChitietkmActivity"/>
        <activity android:name=".ChitietrapphimActivity"/>
        <activity android:name=".Cinema_Lineup"/>
        <activity android:name=".DangKyThongTinCaNhan"/>
        <activity android:name=".DatgheActivity"/>
        <activity android:name=".DiachiActivity"/>
        <activity android:name=".DoiMatKhau"/>
        <activity android:name=".KhuyenmaiActivity"/>
        <activity android:name=".RapphimActivity"/>
        <activity android:name=".ThanhcongActivity"/>
        <activity android:name=".ThanhtoanActivity"/>
        <activity android:name=".ThongBao"/>
        <activity android:name=".ThongTin_CapNhatTaiKhoan"/>
        <activity android:name=".ThongTinCongTy"/>
        <activity android:name=".TrangChu"/>
        <activity android:name=".XacThucTaiKhoan"/>
        <activity android:name=".DangNhap"/>
        <activity android:name=".DangKy"/>
        <activity android:name=".QuenMatKhau"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>